.places__paragraph{
    width: 100%;
    max-width: 484px;
    min-width: 288px;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    line-height: 1.60;
    font-weight: normal;
    color: #fff;
    margin-top: 30px;
}

.places__paragraph:first-child{
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .places__paragraph{
        margin-top: 25px;
        padding: 0 calc(3.125vw + 0.01339286 * (768px - 100vw));
    }

    .places__paragraph:first-child{
        margin-top: 32px;
    }
}

@media screen and (max-width: 320px) {
    .places__paragraph{
        padding: 0 16px;
    }
}