.cover__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.cover__link:hover > .cover__overlay{
    opacity: .8;
}

