.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: Inter, Arial, sans-serif;
    box-sizing: border-box;
    padding: 28px 48px 24px 48px;
    background-color: #2A2C2F;
}