.photo-grid{
    display: grid;
    margin-top: 92px;
    width: 100%;
    max-width: 1184px;
    justify-items: center;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}

@media screen and (max-width: 500px){
    .photo-grid{
        justify-items: center;
    }
}