.footer__socials-item{
    margin-right: 18px;
}

.footer__socials-item::marker{
    unicode-bidi: isolate;
    font-variant-numeric: normal;
    white-space: normal;
    text-transform: none;
}

.footer__socials-item:last-child{
    margin-right: 0;
}

@media screen and (max-width: 500px){
    .footer__socials-item{
        margin-right: 0;
        margin-top: 32px;
    }
    .footer__socials-item:first-child{
        margin-top: 0;
    }
}
