.places__title{
    width:100%;
    max-width: 460px;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: start;
    font-size: 72px;
    line-height: 1.08;
    font-weight: 900;
    color: #fff;
    margin-right: 40px;
}

@media screen and (max-width: 1024px){
     .places__title{
         margin-right: 32px;
         max-width: 440px;
     }
}

@media screen and (max-width: 768px){
    .places__title{
        margin-right: 28px;
        max-width: 340px;
        font-size: 42px;
        line-height: 1.06;
        padding-right: 100px;
    }
}

@media screen and (max-width: 320px){
    .places__title{
        padding: 0 16px;
        max-width: 320px;
        font-size: 32px;
        line-height: 1.06;
    }
}