.cover__subtitle{
    width: 560px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
    font-weight: normal;
    color: #fff;
    z-index: 3;
    margin-top: 32px;
}