.footer__socials-link{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.13;
    text-decoration: none;
}

.footer__socials-link:hover{
    opacity: .8;
}