.intro__list-item{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
}

.intro__list-item::marker {
    unicode-bidi: isolate;
    font-variant-numeric: normal;
    white-space: normal;
    text-transform: none;
}