.footer__socials-list{
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

@media screen and (max-width: 500px) {
    .footer__socials-list{
        flex-direction: column;
    }
}

