.places__url-heading{
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 12px;
    line-height: 1.0;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}