.photos__photo{
    object-fit: contain;
    width: 100%;
    box-sizing: border-box;
}
/*
@media screen and (min-width: 1280px){
    .photos__photo{
        max-width: 283px;
        min-width: 250px;
    }
}
*/

