/*----------------------------------------------------------------------------*/
/*Сбрасываем стили*/
@import url(../vendor/normalize.css);
/*----------------------------------------------------------------------------*/
/*Импортируем шрифты*/
@import url(../vendor/fonts/fonts.css);
/*----------------------------------------------------------------------------*/
/*Импортируем настройки глобальных блоков и переиспользуемых элементов*/
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
/*----------------------------------------------------------------------------*/
/*Импортируем настройки блоков и элементов*/
/*----------------------------------------------------------------------------*/
/*Header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link-container/header__lang-link-container.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_selected/header__lang-link_selected.css);
/*Lead*/
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
/*Intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__list-item-data/__list-item-data.css);
/*Photos*/
@import url(../blocks/photos/photos.css);
@import url(../blocks/photos/__grid-table/photos__grid-table.css);
@import url(../blocks/photos/__grid-table-item/photos__grid-table-item.css);
@import url(../blocks/photos/__photo/photos__photo.css);
/*Places*/
@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__header/places__header.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/__url-heading/places__url-heading.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__article/places__article.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__description/places__description.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
/*Cover*/
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
/*Footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__socials-list/footer__social-list.css);
@import url(../blocks/footer/__socials-item/footer__social-item.css);
@import url(../blocks/footer/__socials-link/footer__socials-link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*Заливка для вёрстки-------------------------------
header{
    background-color: red;
}

main{
    background-color: green;
}

body{
    background-color: chartreuse;
}

html{
    background-color: aqua;
}

footer{
    background-color: dodgerblue;
}
---------------------------------------------------*/