/*----------------------------------------------------------------------------*/
/*Сбрасываем стили*/
@import url(../vendor/normalize.css);
/*----------------------------------------------------------------------------*/
/*Импортируем шрифты*/
@import url(../vendor/fonts/fonts.css);
/*----------------------------------------------------------------------------*/
/*Импортируем настройки переиспользуемых элементов*/
@import url(../blocks/page/page.css);
/*----------------------------------------------------------------------------*/
/*Импортируем настройки блоков и элементов*/
/*----------------------------------------------------------------------------*/
/*Header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link-container/header__lang-link-container.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

header{
    background-color: red;
}

main{
    background-color: green;
}

footer{
    background-color: dodgerblue;
}

.footer{
    background-color: dodgerblue;
}