.footer{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 1184px;
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 0 calc(4.6875vw - 0.046875 * (1024px - 100vw)) ;
    }
}

@media screen and (max-width: 320px) {
    .footer{
        padding: 0 16px;
    }
}
@media screen and (max-width: 500px) {
    .footer {
        flex-wrap: wrap;
        margin-top: 64px;
        flex-direction: column;
    }
}
