.places__website{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    max-width: 484px;
    min-width: 288px;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .places__website{
        margin-top: 32px;
    }
}


@media screen and (max-width: 320px) {
    .places__website{
        padding: 0 16px;
    }
}