.photos__grid-table{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

@media screen and (min-width: 1280px){
    .photos__grid-table{
        column-gap: 16px;
        row-gap: 12px;
    }
}

@media screen and (max-width: 1280px){
    .photos__grid-table{
        column-gap: calc(1.25vw + 0.0046875 * (1280px - 100vw));
        row-gap: 10px;
    }
}

@media screen and (max-width: 1024px){
    .photos__grid-table{
        column-gap: calc(1.25vw + 0.0046875 * (1280px - 100vw));
        row-gap: 10px;
    }
}

@media screen and (max-width: 320px){
    .photos__grid-table{
        gap: 10px;
    }
}
