.places__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 83px;
}

.places__item::marker {
    unicode-bidi: isolate;
    font-variant-numeric: normal;
    white-space: normal;
    text-transform: none;
}

.places__item:first-child{
    margin-top: 0;
}

@media screen and (max-width: 1024px){
    .places__item{
        margin-top: 85px;
    }
}

@media screen and (max-width: 768px){
    .places__item{
        margin-top: 80px;
    }
}

@media screen and (max-width: 320px){
    .places__item{
        margin-top: 55px;
    }
}