.intro__title{
    max-width: 720px;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: start;
    font-size: 54px;
    line-height: 1.08;
    font-weight: 900;
    color: #fff;
    padding: 0;
}

@media screen and (max-width: 768px){
    .intro__title{
        font-size: calc(7.03125vw + 0.02120536 * (768px - 100vw));
    }
}


@media screen and (max-width: 320px){
    .intro__title{
        font-size: 32px;
    }
}

