.intro__title{
    max-width: 690px;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: start;
    font-size: 54px;
    line-height: 1.08;
    font-weight: 900;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .intro__title {
        font-size: calc(7.03vw + 0.01928571 * (768px - 100vw));
        line-height: calc(7.03vw + 6px);
        padding: 0 calc(3.125vw + 0.01339286 * (768px - 100vw));
    }
}

@media screen and (max-width: 320px) {
    .intro__title{
        padding: 0 16px;
    }
}